/* General */
html {
  font-size: 75%;
  scroll-behavior: smooth;
  background-color: darkorange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main.morsy {
  min-height: 80vh;
  padding: 2.5rem;
  margin: 5rem 10rem;
  border: 5px solid black;
  border-radius: 2rem;
  background-color: white;
}

section.in-out {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.in-out div {
  padding: 2.5rem 0;
  width: 48%;
  min-width: 200px;
}

.plaintext-input,
.morse-output {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem 0;
  width: 100%;
  min-height: 10rem;
  height: fit-content;
}

h1 {
  font-size: 5rem;
  font-weight: normal;
}

h1.app-title {
  display: inline-block;
}

h1.app-title .morse-title {
  display: none;
}

h1.app-title:hover .plaintext-title {
  display: none;
}
h1.app-title:hover .morse-title {
  display: inline;
}

h2 {
  font-size: 2.5rem;
  font-weight: lighter;
}

footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
img.footer-icon {
  width: 2.8rem;
  height: 2.8rem;
  display: inline-block;
  padding-right: 0.8rem;
}
img.footer-icon:first-of-type {
  padding-left: 0;
}
