@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
/* General */
html {
  font-size: 75%;
  scroll-behavior: smooth;
  background-color: darkorange;
  max-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main.morsy {
  min-height: 90vh;
  min-width: 300px;
  padding: 2.5rem 5rem;
  margin: 5vh 15vw;
  border: 5px solid #222222;
  border-radius: 1rem;
  background-color: white;
  position: relative;
}

div.app-body {
  margin-bottom: 5rem;
}

section.intro {
  padding-bottom: 1rem;
}

section.in-out {
  display: flexbox;
  flex-wrap: wrap;
  margin: 1.5rem 0rem 0rem 0rem;
}

section.in-out div {
  padding: 1.5rem 0;
}

.plaintext-input,
.morse-output {
  display: block;
  border: 2.5px solid black;
  border-radius: 5px;
  margin: 0.5rem 0;
  min-width: 100%;
  min-height: 100px;
  height: fit-content;
  text-align: start;
  word-wrap: normal;
  overflow-wrap: normal;
}

h1 {
  font-size: 5rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

h1.app-title *,
p.shortdesc * {
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
}

h1.app-title {
  display: inline-block;
}

h1.app-title .morse-title,
p.shortdesc .morse-shortdesc {
  display: none;
}

h1.app-title:hover .plaintext-title,
p.shortdesc:hover .plaintext-shortdesc {
  display: none;
}

h1.app-title:hover .morse-title,
p.shortdesc:hover .morse-shortdesc {
  display: inline;
}

p.shortdesc {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: 'Bungee', Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2.5px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2.5rem;
}

div.footer-column {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
}

div.footer-column.footer-contact {
  display: flex;
  flex-wrap: wrap;
}

div.footer-column.footer-copyright {
  padding: 1rem 0 1rem 0;
}

a.footer-link {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

a.footer-link:hover {
  text-decoration: underline;
}

img.footer-icon {
  width: 2.8rem;
  height: 2.8rem;
  display: inline-block;
  padding-right: 0.8rem;
}
img.footer-icon:first-of-type {
  padding-left: 0;
}

/*** Tall screens - START */
@media only screen and (max-width: 720px) {

* {
}

  main.morsy {
    text-align: center;
    padding: 2.5rem;
    margin: 5vh 10vw;
  }

  footer {
    flex-direction: column-reverse;
    justify-content: center;
  }

  div.footer-column {
    padding: 0.5rem 1rem;
  }

  div.footer-column.footer-copyright {
    padding: 0 0 1rem 0;
  }
}